label {
  display: inline-block;
  width: 15em;
  padding-right: .5em;
  text-align: right;
}

.hidden {
  display: none;
}

.collapsed {
  visibility: collapse;
}

label + div {
  display: inline-block;
}

.tab-hover-buttons {
  position: fixed;
  text-align: right;
  right: 2pt;
  top: 2px;
  display: inline-block
}

.tab-hover-buttons span {
  display: inline-block;
  padding: .5em;
  background: blue;
  color: white;
  font-weight: bold;
  text-decoration: line-through;
}